.messageBar
{
    position:fixed;
    bottom:10px;
    left:10px;
}

.messages
{
    position: fixed;
    bottom: 50px;
    left:0;
    width: 100%;
    max-height:95vh;
    overflow:auto;
}

#sendMessage
{
    width:75%;
    margin-right:15px;
}

.send
{
    width:13%;
}

th
{
    width:15%;
}


.clear
{
    width:10%;
}